.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1563865436874-9aef32095fad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  color: white;
  padding-top: 50px;
  margin: 0px;
  text-shadow: 2px 2px black;
}
p{
  color: white;
  text-shadow: 1px 1px black;
}
.search-form{
  padding-top: 25px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background: coral;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: 1px 1px black;
}
